@model IEnumerable<WebAppl1.Models.InfoNumber>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
    <style>
        td {
            padding: 5px;
        }

        button {
            margin: 5px;
        }
    </style>
</head>
<body>
    <h2>Калькулятор</h2>
    <div>
        <input type="hidden" id="userId" />
        <p>
            Первое значение:<br />
            <input id="v1" type="number" />
        </p>
        <p>
            Знак:<br />
            <button id="plus" class="operator" onclick="op='+'">+</button>
            <button id="minus" class="operator" onclick="op='-'">-</button>
            <button id="times" class="operator" onclick="op='*'">x</button>
            <button id="divide" class="operator" onclick="op='/'">:</button>
        </p>
        <p>
            Второе значение:<br />
            <input id="v2" type="number" />
        </p>
        <p>
            <button onclick="func()">Вычислить</button>
        </p>
        Результат:<br />
        <p id="result"></p>
        <p>
            Данные:<br />
        <p id="data"></p>
        <table class="table">
            <tr><th>Первое число</th><th>Второе число</th><th>Знак</th><th>Результат</th></tr>
           @foreach (var item in Model)
           {
                <tr>
                    <td>@item.number1</td>
                    <td>@item.number2</td>
                    <td>@item.symbol</td>
                    <td>@item.result</td>
                </tr>
           }
        </table>
    </div>

    <script>
        var op; 
        function func() {        
            var result;  
            var num1 = Number(document.getElementById("v1").value);
            var num2 = Number(document.getElementById("v2").value);
            switch (op) {
                case '+':
                    result = num1 + num2;
                    break;
                case '-':
                    result = num1 - num2;
                    break;
                case '*':
                    result = num1 * num2;
                    break;
                case '/':
                    if (num2) {
                        result = num1 / num2;
                    } else {
                        result = 'бесконечность';
                    }
                    break;
                default:
                    result = 'выберите операцию';
            }
            document.getElementById("result").innerHTML = result;
        }       
    </script>
</body>
</html>